<!doctype html>
<html lang="en">
  <head>
   {% include "metadata.njk" %}
   <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    {% include "header.njk" %}
    <div class="spacer-2"></div>
    {{ content | safe }}
  </body>

  <hr>
  {% include "footer.njk" %}
</html>
