{% set css %}
  {% include "style.css" %}
{% endset %}

<!doctype html>
<html lang="en">
  <head>
   {% include "metadata.njk" %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>

  <body>
    {% include "header.njk" %}
    <div class="spacer-2"></div>
    {{ content | safe }}
  </body>
</html>
