<!doctype html>
<html lang="en">
  <head>
   {% include "metadata.njk" %}
   <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    {% include "header.njk" %}
    {{ content | safe }}
  </body>
</html>
