<footer>
  <p>copyright © {{ generated._metadata.createdAt | formatDate("y") }} ross calimlim | <a href=https://creativecommons.org/licenses/by-sa/4.0>CC BY-SA 4.0</a></p>
  <p>updated @ {{ generated._metadata.createdAt | formatDate("ISO9075") }}</p>
</footer>
