---
layout: main
---

<section class="resume">
  <h1><a href="https://s3.amazonaws.com/rosscalimlim.me/files/ross_calimlim_resume.pdf" target="_blank" rel="noreferrer noopener">pdf download</a></h1>
</section>
