html {
  background-color: #181a1b;
  color: #e8e6e3;
  font: 100%/1.5 sans-serif;
  margin: auto;
  max-width: 50em;
  padding: 0 3%;
}

h1, h2, h3 {
  margin: 0;
  padding: 0.25em 0.25em 0.25em 0;
}

p, ul {
  margin: 0.25em 0.25em 1em 0;
}

ul {
  padding-inline-start: 25px;
}

a, a:visited{
  color: #fabd2f;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style-type: none;
  padding: 1em 1em 1em 0;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 30%;
  max-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #fabd2f;
  color: #000000;
}

th, td {
  padding: 0.7em;
}


tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #1f2123;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #fabd2f;
}

.resume h3 {
  padding: 0;
}

.resume .resumePeriod {
  font-size: 105%;
  padding: 0;
  padding-inline-start: 10px;
}

.resume .resumeValue {
  padding-inline-start: 10px;
}

.spacer-1 {
  margin: 1em;
}

.spacer-2 {
  margin: 2em;
}
